# Dependencies
node_modules/

# Build outputs
.next/
dist/
out/
build/
artifacts/
cache/
types/
fhevmTemp/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json

# Coverage
coverage/
coverage.json
